@model IEnumerable<RunnersFilmMVC.Models.Review>

@{
    ViewBag.Title = "Index";
}



<h2>Reviews</h2>
@*If user is not logged in then ask him to log in*@
@if (ViewBag.email == "not logged in")
{
<p>Please Login to View Comments</p>
}
@*If user is logged in teh grant him access to the page*@
@if (ViewBag.email != "not logged in")
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ReviewId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ReviewId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ReviewId })
        </td>
    </tr>
}

</table>
}
